body {
  background: #f0f3f5;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

form {
  max-width: 300px;
  margin: 0 auto;
}

form > div {
  margin-bottom: 15px;
}

label {
  display: inline-block;
  width: 90px;
}

input {
  width: 200px;
}

button {
  margin-left: 90px;
}

button {
  background: #0099cc;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background: #0088bb;
}

button:disabled {
  background: #eee;
  color: #aaa;
  cursor: auto;
}

.invalid {
  border-color: #ff0000;
  background-color: #ffdddd;
}
